h1{
    text-align: center;
}
.container-flex-1{
    display: flex;
    background-color: tomato;
    flex-wrap: nowrap;
}
.container-flex-2{
display: flex;
background-color: tomato;
flex-wrap: wrap;
}
.item-flex{
    width: 200px;
    height: 200px;
    background-color: gold;
    margin: 20px;
    font-size: 1.5em;
    color: white;
}