#content-nav-bar-main {
width: 100%;margin: 0 auto;
margin-top: 30px;
}
#content-main{
display: block;
margin: 0 auto;
width: 85%;
margin-top: 10px;
}
#nav-bar-horizontal{
    background-color: rgb(255, 255, 255);
}
.menu-principal{
text-align: center;
}
#nav-bar-vertical{
    display: inline-block;
    color: blanchedalmond;
    font-family: 'Jomhuria', cursive;
    font-weight: 500;
    width: 300px;
    font-size: 1.2em;
    margin-bottom: 80px;
}
.item-horizontal{
    display: inline-block;
   border-right: 1px solid #E5A702;
    padding: 7px 10px;
    list-style: none;
}
.item-vertical{
    background-color: rgb(87, 87,87);
    margin: 5px;
    list-style: none;
    padding: 12px;
    border-radius: 5px;
}

















