*{
    margin: 0;
    padding: 0;
}
#nav-bar {
    color: white;
   margin: 25px 25px 25px 10px ;
    display: inline-block;
}
ul{
    
    list-style-type: none;
    font-size: 1.7em;
    
    padding-bottom: 30px;
    border: 2px solid darkcyan;
}
li {
    background-color:rgb(255, 0, 0);
    padding: 5px 15px;
    margin: 4px;
  
}
li:hover{
    font-size: 1.1em;
    background-color: rgb(168, 35,30);
}
a{
    text-decoration: none;
    color: white;
}